/* General styles for #about */
#about {
    width: 100%;
    padding: 2rem;
    background-color: #000;
    color: #dbe5fa;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* height: 100vh; */
}

/* Typography for headings */
.skills h2 {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: #dbe5fa;
    font-weight: 500;
    line-height: 0;
    margin-top: 10vh;
}

/* Paragraph styling */
#about p {
    width: 60%;
    margin-top: 15vh;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 1.6;
    color: #dbe5fa;
    /* background-color: red; */
}

.intro p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

/* Skills Section */
.skills {
    width: 100%;
    height: fit-content;
    margin-top: 10vh;
}

.skill-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80vw;
    margin: 10vh 0;
}

.skill-btns button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    border: 1px solid #dbe5fa;
    background-color: transparent;
    color: #dbe5fa;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 9vw;
    height: 5vw;
    margin: 3vh 1vh;
    gap: 5px;
}

.skill-btns button img{
    margin-right: 0.5rem;
    height: 30px;
    object-fit: contain;
}

.skill_btns i {
    font-size: 60px;
}

/* Experience and Achievements */
.experience ul, .achievements ul {
    margin: 0;
    padding-left: 1.5rem;
}

.experience h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.3rem;
    color: #dbe5fa;
}

ul li {
    margin-bottom: 0.8rem;
}

strong {
    color: #f4d03f; /* Highlighted text */
}

/* Leetcode Section */
.leetcode {
    width: 85vw;
    margin: 10vh 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    #about {
        height: fit-content;
        padding-bottom: 10vh;
        position: relative;
    }

    #about p {
        width: 100%;
        margin-top: 5vh;
        font-size: 25px;
        padding: 0;
    }

    .skills h2 {
        font-size: 7vw;
        margin-top: 0;
        line-height: 1;
    }

    .skill_btns, .skill-btns {
        margin: 5vh 0;
    }

    .skill-btns button, .skill_btns button {
        width: 35vw;
        height: 25vw;
        font-size: 1rem;
    }
}
