.page1{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
}

.page1 .intro{
    width: 60%;
    height: 100%;
    margin-top: 20vh;
}

.intro p{
    font-size: 30px;
}

.page1 .intro h2{
    font-size: 5vw;
    margin:3vh 0 0 2vh;
}

.page1 .intro .para{
    font-size: 1.7vw;
    font-weight: 100px;
    margin:3vh 6vw 0 0;
}
