
.cursor{
    width: 50px;
    height: 50px;
    /* background: radial-gradient(#0A192F,#0a2143,#8892B0); */
    background-color: #C4D1EC;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* filter: blur(100px); */
    position: fixed;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 5;
}